<header class="header">
  <nav class="header__nav">
    <div>
      <a href="/">
        <img src="assets/logo.svg" alt="">
      </a>
    </div>

    <div class="nav-links">
      <ul class="nav-links__list">
        <li class="nav-links__item">
          <a class="link" routerLink="/">Home</a>
        </li>

        <li class="nav-links__item">
          <a class="link" routerLink="/">About</a>
        </li>

        <li class="nav-links__item">
          <a class="link" routerLink="/">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
