<!-- Header Component -->
<app-header></app-header>

<div class="breadcrumb">
  <div>
    <h1 class="font-roboto">Users List</h1>
  </div>

  <div>
    <button class="btn btn-primary font-roboto font-size-15 font-light" (click)="createNewUser()">+ New User</button>
  </div>
</div>

<div id="usersContainer" class="users-wrapper">
  <!-- Users List -->
  <div class="user-list" >
    <div class="user-list__header">
      <div class="user-col">
        <p class="font-roboto font-light font-size-12 color-grey">
          User
        </p>
      </div>

      <div class="action-col">
        <p class="font-roboto font-light font-size-12 color-grey">
          Actions
        </p>
      </div>
    </div>
    <div *ngFor="let user of users" (click)="selectUser(user)" class="user-list__item user" [class.active]="hovered">
      <div class="user-col">
        <div class="user__avatar">
          <img class="img" [src]="user.avatar" alt="{{user.first_name}}" title="Avatar">
        </div>

        <div class="user__name">
          <p class="font-roboto font-size-15 font-light color-main user__name-text">
            {{ user.first_name }} {{ user.last_name}}
          </p>
        </div>
      </div>

      <div class="action-col">
        <button (click)="editUser(user)" *ngIf="user != selectedUser" class="btn btn-action">
          <img src="assets/edit-icon.svg" alt="Edit" title="Edit">
        </button>

        <button (click)="deleteUser(user)" *ngIf="user != selectedUser" class="btn btn-action">
          <img src="assets/delete-icon.svg" alt="Delete" title="Delete">
        </button>

        <button (click)="selectUser(user)" class="btn btn-plain btn-select">
          <fa-icon class="font-size-15 color-main" [icon]="faChevronRight"></fa-icon>
        </button>
      </div>
    </div>

    <div *ngIf="loadingUsers" class="user-list__spinner text-center">
      <div class="spinner">
          <div class="spinner__dot"></div>
          <div class="spinner__dot"></div>
          <div class="spinner__dot"></div>
      </div>
    </div>
  </div>

  <!-- User Details -->
  <div class="user-details-wrapper" *ngIf="selectedUser.hasOwnProperty('first_name')">
      <div class="user-details-wrapper__close" (click)="closeUser()">
          <button class="btn btn-plain">
            <fa-icon class="font-size-25 color-main " [icon]="faTimes"></fa-icon>
          </button>
        </div>
      <app-user-details [user]="selectedUser" (userAction)="handleUserAction($event)" ></app-user-details>
  </div>
</div>

<app-user-modal [user]="currentUser" [action]="actionType" (modalAction)="handleModalAction($event)" *ngIf="currentUser.hasOwnProperty('first_name')"></app-user-modal>
